@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: #141414;
    font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', sans-serif;
}

.text-code {
    font-family: 'Fira Code', monospace;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 4rem;  
}

#greeting {
    font-size: 4em;
}

#greeting-language {
    font-size: 0.5em;
    color: #BEBEBE
}

.pfp {
    height: 25vh;
    border-radius: 50%;
}