@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #141414;
    color: white;
    font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', sans-serif;
}

.text-code {
    font-family: 'Fira Code', monospace;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 5em;
}

.phone {
    background-color: rgb(219, 140, 255, 0.2);
    border: 2px solid rgb(219, 140, 255, 0.3);
    height: 100%;
    border-radius: 30px;
    aspect-ratio: 9/15;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
}

.image {
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba);
    background-size: 300%;
    background-position: center;
    border-radius: 30px;
    overflow: hidden;
}

.text-container {
    transform: translate(0%, 25%);
}

.text-container h1 {
    font-size: 3em;
    text-align: center;
    padding: 0 0.5em;
    text-shadow: 0px 0px 20px #fff, 0px 0px 20px #fff;
}